<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="XPathTools"
            id="XPathTools.commands.category">
      </category>
      <command
            name="Copy Path"
            categoryId="XPathTools.commands.category"
            id="XPathTools.commands.copypath">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="XPathTools.commands.copypath"
            class="xpathtools.handlers.CopyPathHandler">
         <enabledWhen>
            <reference
                  definitionId="XPathTools.definition.copyTarget">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="XPathTools.commands.copypath"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+2"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="XPathTools.toolbars.sampleToolbar">
            <command
                  commandId="XPathTools.commands.copypath"
                  icon="icons/copy_path.gif"
                  tooltip="Copy Path"
                  id="XPathTools.toolbars.copypath">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="XPathTools.definition.copyTarget">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <and>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </and>
            
         </with>
      </definition>
   </extension>

</plugin>
